@import url('<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root{
    --main-color:#ec9f05;
    --black:#13131a;
    --header:#C04000;
    --bg:#ff4e00;
    --change: #ffb347;
    --border:.1rem solid rgba(255,255,255,.6);
}

*{
    font-family: 'Lato', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
    background: linear-gradient(-45deg, #13131a, #ec9f05, #C04000);
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: rgb(36, 26, 26);
    border-radius: 5rem;
}

body{
    background: url('../images/bg.jpg');
    margin: 0;
}

section{
    padding:2rem 7%;
}

.header{
    background: var(--header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    padding-bottom: .5rem;
    border-bottom: .1rem solid var(--main-color);
}

.header h1{
    justify-content: left;
    color: #fff;
}

.form{
    max-width: 550px;
    width: 100%;
    background: url('../images/bgform.jpg');
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
}

.form h1{
    margin: 0;
    text-align: center;
    font-size: 30px;;
}

.form p{
    font-size: 15px;
}

label{
    display: block;
    color: var(--black);
    margin: 15px 0;
    font-size: 15px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #000000;
}

input[type="text"]:focus, textarea:focus{
    border-bottom: 1px solid rgb(255, 165, 0);
}

textarea::-webkit-scrollbar{
    width: 4px;
    background: linear-gradient(-45deg, #ec9f05, #C04000);
}

textarea::-webkit-scrollbar-thumb{
    background-color: var(--black);
}

.form-field small{
    font-weight: 600;
    font-size: 14px;
    color: #ff0000;
}

.submit{
    text-align: center;
}

.center{
    text-align: center;
    margin-top: 30px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #eee;
    text-indent: none;
    display: inline-block;
    padding:.9rem 2rem;
    font-size: 1.4rem;
    background-color: var(--bg);
    color:#fff;
    cursor: pointer;
}

.center:hover{
    text-align: center;
    margin-top: 30px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #eee;
    text-indent: none;
    display: inline-block;
    padding:.9rem 2rem;
    font-size: 1.4rem;
    background-color: var(--main-color);
    color:#fff;
    cursor: pointer;
}

.footer{
    background: var(--black);
    text-align: center;
}

.footer .socmed{
    padding:1rem 0;
}

.footer .socmed a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .socmed a:hover{
    background-color: var(--main-color);
}

.footer .credit{
    font-size: 1.6rem;
    color:#fff;
    font-weight: lighter;
    padding: 1.2rem;
}

.footer .credit span{
    color: var(--main-color);
}




@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }
    
}

@media (max-width:768px){

    body{
        background-position: center;
    }

    .header{
        padding:1.5rem 2rem;
    }

}